<!DOCTYPE html>
<html dir="rtl" lang="heb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGUBall- Create new game</title>
    <link rel = "icon" href = "../static/Pics and Icons/ballicon.png" type = "image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/function.js"></script>
</head>

<body onload="set_min_dt()">

    <div class="container">
        <header>
            <img id="site_logo" class="top-line-left" src="../static/Pics and Icons/logo-site.png" alt="Logo">
            <a href="MyInvitations.html" id="notification" class="top-line-right">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="badge">1</span>
            </a>
            <a href="../views/LogInPage.html" class="top-line-right">Logout</a>
            <nav>
                <a href="MyProfile.html" class="navline">My profile</a>
                <a href="MyGames.html" class="navline">My games</a>
                <a href="searchGames.html" class="navline">Search games</a>
                <a href="newGame.html" class="navline">Create game</a>
            </nav>
        </header>

        <div class="page">
            <form class="forms" action="searchGames.html" onsubmit="return success_new_game()" method="post">
                <label for="dt" class="formLabel"><b>Game date time*</b></label><br>
                <input type="datetime-local" id="dt" placeholder="Enter game date and time" required><br>
                <label for="courts" class="formLabel"><b>Court*</b></label><br>
            <select name="courts" id="courts" required>
                <option value="" disabled selected hidden>Choose court</option>
                <option value="Haviva">Haviva</option>
                <option value="Sport center">Sport center</option>
            </select><br>
                <label for="phone" class="formLabel"><b>Phone number</b></label><br>
                <input type="tel" placeholder="Enter phone number" pattern="[0-9]{3}[0-9]{2}[0-9]{5}" id="phone"><br>
                <button type="submit" class="button">Create game</button><br>
            </form>
        </div>
    </div>
</body>
</html>