<!DOCTYPE html>
<html dir="rtl" lang="heb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGUBall- Search games</title>
    <link rel = "icon" href = "../static/Pics and Icons/ballicon.png" type = "image/x-icon" >
    <script defer src="../static/function.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="hideGamesTable(), hideNewGameButton(), set_min_date()">
        <div class="container">
            <header>
                <img id="site_logo" class="top-line-left" src="../static/Pics and Icons/logo-site.png" alt="Logo">
                <a href="MyInvitations.html" id="notification" class="top-line-right">
                    <i class="fa fa-envelope fa-2x"></i>
                    <span class="badge">1</span>
                </a>
                <a href="../views/LogInPage.html" class="top-line-right">Logout</a>
                <nav>
                    <a href="MyProfile.html" class="navline">My profile</a>
                    <a href="MyGames.html" class="navline">My games</a>
                    <a href="searchGames.html" class="navline">Search games</a>
                    <a href="newGame.html" class="navline">Create game</a>
                </nav>
            </header>

            <div class="page">
                <input type="date" id="game_date">
                <button type="button" id="searchButt" class="button" onclick="check_input_date()">search</button>
                <table id="games_table" style="width:30%;">
                    <thead>
                        <tr>
                            <td style="width: 20%;"></td>
                            <td style="width: 40%;">Time</td>
                            <td style="width: 40%;">Court</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <i ></i>
                            <td><a href="GameDetails.html" class="fa fa-plus" aria-hidden="true" title="show more details"></a></td>
                            <td>12:00</td>
                            <td>Sport Center</td>
                        </tr>
                        <tr>
                            <td><a href="GameDetails.html" class="fa fa-plus" aria-hidden="true" title="show more details"></a></td>
                            <td>13:00</td>
                            <td>Haviva</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><a id="new_game" href="newGame.html">create new game</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
    </div>
</body>
</html>